<!+siteHead>
<div class="head">
	<img src="{icon:32:clandb}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?menuDel}</a></li>
	</ul>
<!-siteHead>

<!+siteEntry>
<div class="clickTab">
	<table class="table">
		<tr>
			<td>{?delete}</td>
		</tr>
		<tr>
			<td>{$next}</td>
		</tr>
	</table>
</div></div>
<!-siteEntry>

<!+siteError>
<div class="clickTab">
	<table class="table">
		<tr>
			<td>{?error}</td>
		</tr>
		<tr>
			<td>{$next}</td>
		</tr>
	</table>
</div></div>
<!-siteError>