<!+siteHead>
<div class="head">
	<img src="{icon:32:clandb}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<form id="form1" name="form1" method="post" action="index.php?view=clandb&amp;site=edit">
<div class="clickTabBox">
	<ul>
		<li><a>{?menuAngaben}</a></li>
	</ul>
<!-siteHead>

<!+siteEntry>
<div class="clickTab">
<strong>{?menuAngaben}</strong><br />
<span style="color:#FF0000">{$errorMsg}</span>
<table style="width:{ecTableWidth}" class="table">
	<tr>
		<td>{?clanName}*</td>
		<td><input name="clanDbName" type="text" id="clandDbName" value="{$clanDbName}" /></td>
	</tr>
	<tr>
		<td>{?clanShortName}</td>
		<td><input name="clanDbShortName" type="text" id="clanDbShortName" value="{$clanDbShortName}" /></td>
	</tr>
	<tr>
		<td>{?clanTag}</td>
		<td><input name="clanDbTag" type="text" id="ClanDbTag" value="{$clanDbTag}" /></td>
	</tr>
	<tr>
		<td>{?clanCountry}</td>
		<td></td>
	</tr>
	<tr>
		<td>{?clanHomepage}</td>
		<td><input name="clanDbHomepage" type="text" id="clanDbHomepage" value="{$clanDbHomepage}"/></td>
	</tr>
</table>
</div></div>

<div class="clickTabBox">
	<ul>
		<li><a>{?menuSave}</a></li>
	</ul>
	<div class="clickTab">
	
		<table width="100%" border="0">
        	<tr>
            	<td>
					<input name="save" type="submit" id="save" value="{?save}" />
					<input name="reset"  type="reset" id="reset" value="{?reset}" />
					<input type="hidden" name="clanDbId" value="{$clanDbId}" />
				</td>
			</tr>
		</table>
	</div>
</div>
</form>
<!-siteEntry>

<!+clanEdited>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
    <td class="cellmiddle"><strong>{?clanEdited}<br />
      </strong><br />
      {$next}</td>
  </tr>
</table></div></div>
<!-clanEdited>