<!+siteHead>
<div class="head">
	<img src="{icon:32:clandb}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+clanEdit>
<form id="form1" name="form1" method="post" action="index.php?view=clandb&amp;site=edit&amp;id={$id}">
<div class="clickTabBox">
	<ul>
		<li><a>{?clanMain}</a></li>
	</ul>
	<div class="clickTab">
          <span style="color:#FF0000">{$errorMsg}</span>
          <table class="table">
            <tr>
              <td width="40%">{?clanName}*</td>
              <td width="60%"><input name="clanName" type="text" id="clanName" value="{$clanName}" /></td>
            </tr>
            <tr>
              <td width="40%">{?clanShortName}</td>
              <td width="60%"><input name="clanShortName" type="text" id="clanShortName" value="{$clanShortName}" /></td>
            </tr>
            <tr>
              <td width="40%">{?clanTag}</td>
              <td width="60%"><input name="clanTag" type="text" id="clanTag" value="{$clanTag}" /></td>
            </tr>
            <tr>
              <td width="40%">{?clanCountry}</td>
              <td width="60%"><select name="clanCountry" id="clanCountry"><option></option></select></td>
            </tr>
            <tr>
              <td width="40%">{?clanWWW}</td>
              <td width="60%"><input name="clanWWW" type="text" id="clanWWW" value="{$clanWWW}" /></td>
            </tr>
            <tr>
              <td width="40%">{?clanImage}</td>
              <td width="60%"><input name="clanImage" type="file" id="clanImage" /></td>
            </tr>
		</table>
	</div>
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanSave}</a></li>
	</ul>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr>
            <td colspan="2"><input name="save" type="submit" id="save" value="{?save}" />
              <input name="reset"  type="reset" id="reset" value="{?reset}" /></td>
          </tr>
        </table>
	</div>
</div>
</form>
<!-clanEdit>
<!+clanEdited>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanEdited}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
<!-clanEdited>