<!+siteHead>
<div class="head">
	<img src="{icon:32:clandb}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+clandbHead>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanTitle}</a></li>
		<li><a>{?addTitle}</a></li>
	</ul>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td width="20%"><strong>{?clanId}</strong></td>
			<td><strong>{?clanName}</strong></td>
			<td><strong>{?clanTag}</strong></td>
			<td width="5%"><img src="{icon:16:edit}" width="16" height="16" /></td>
		    <td width="5%"><img src="{icon:16:delete}" width="16" height="16" /></td>
		  </tr>
		<!-clandbHead>
		<!+clandbData>
		  <tr>
			<td># {$clanId}</td>
			<td width="30%"><a onclick="ecOpenPopup('{$clanName}','{$popup}','{?close}')" href="javascript:void(0)">{$clanName}</a></td>
			<td width="10%">{$clanTag}</td>
			<td><a href="index.php?view=clandb&site=edit&amp;id={$clanId}" ><img src="{icon:16:edit}" width="16" height="16" /></a></td>
		    <td><a href="index.php?view=clandb&site=remove&amp;id={$clanId}"><img src="{icon:16:delete}" width="16" height="16" /></a></td>
		  </tr>
		<!-clandbData>
		<!+clandbFoot>
		</table>
	</div>
<!-clandbFoot>
<!+clandbAdd>
	<div class="clickTab">
		<img src="{icon:16:new}" width="16" height="16" border="0" />
		<a href="index.php?view=clandb&amp;site=add"><strong>{?clanAdd}</strong></a>
	</div>
<!-clandbAdd>
<!+siteFoot>
</div>
<!-siteFoot>
<!+clandbSaved>
	<div class="clickTabBox">
		<ul>
			<li><a>{?clanSaved}</a></li>
		</ul>
		<div class="clickTab">{$next}</div>
	</div>
<!-clandbSaved>
<!+moreInfoClan>{?clanInfo}<br /><br /><strong>{?clanName}:</strong> {$clanName}<br /><strong>{?clanShortName}:</strong> {$clanShortName}<br /><strong>{?clanTag}:</strong> {$clanTag}<br /><strong>{?clanCountry}:</strong> {$clanCountry}<br /><strong>{?clanWWW}:</strong> {$clanWWW}<br /><!-moreInfoClan>