<!+siteHead>
<div class="head">
	<img src="{icon:32:password}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+usersEdit>
<form id="form1" name="form1" method="post" action="index.php?view=users&amp;site=changepassword">
<div class="clickTabBox">
	<ul>
		<li><a>{?siteTitle}</a></li>
	</ul>
	<div class="clickTab">
	<span style="color:#FF0000">{$errorMsg}</span>
      <table class="table">
        <tr>
          <td width="40%">{?usersOldPassword}*</td>
          <td width="60%">
            <input name="usersOldPassword" type="password" id="usersOldPassword" />
          </td>
        </tr>
        <tr>
          <td>{?usersNewPassword}*</td>
          <td><input name="usersNewPassword" type="password" id="usersNewPassword" style="ime-mode:disabled" onchange="ecPassword(this.value);" onclick="ecPassword(this.value);" onkeyup="ecPassword(this.value);" /></td>
        </tr>
        <tr>
          <td>{?usersNewPassword2}*</td>
          <td><input name="usersNewPassword2" type="password" id="usersNewPassword2" /></td>
        </tr>
        <tr>
          <td>{?usersPasswordSecure}</td>
          <td><img src="{icon:16:shield2}" alt="secure" name="i1" width="16" height="16" id="i1" /><img src="{icon:16:shield2}" alt="secure" name="i2" width="16" height="16" id="i2" /><img src="{icon:16:shield2}" alt="secure" name="i3" width="16" height="16" id="i3" /></td>
        </tr>
	</table>
	</div>
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?usersSave}</a></li>
	</ul>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr>
            <td colspan="2"><input name="save" type="submit" id="save" value="{?save}" />
              <input name="reset"  type="reset" id="reset" value="{?reset}" /></td>
          </tr>
        </table>
	</div>
</div>
</form>
<!-usersEdit>
<!+usersEdited>
<div class="clickTabBox">
	<ul>
		<li><a>{?usersEdited}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
<!-usersEdited>