<form id="login" name="login" method="post" action="index.php?view=users&amp;site=login">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>{?username}</td>
    </tr>
    <tr>
      <td><input name="loginUsername" type="text" id="loginUsername" onfocus="if(this.value=='{?username}') this.value=''" onblur="if(this.value=='')this.value='{?username}'" value="{$username}" maxlength="30" /></td>
    </tr>
    <tr>
      <td>{?password}</td>
    </tr>
    <tr>
      <td><input name="loginPassword" type="password" id="loginPassword" onfocus="if(this.value=='{?password}') this.value=''" onblur="if(this.value=='')this.value='{?password}'" value="{$password}" maxlength="30" /></td>
    </tr>
    <tr>
      <td><label> {?cookie}
        <select name="loginCookieSet" id="loginCookieSet" style="font-size : 9px">
          <option>-</option>
          <option value="600">{?t10min}</option>
          <option value="3600">{?t1h}</option>
          <option value="86400">{?t1d}</option>
          <option value="604800">{?t1w}</option>
          <option value="2419200">{?t1m}</option>
        </select>
        </label></td>
    </tr>
    <tr>
      <td><input name="login" type="submit" id="login" value="{?login}" />
        <input name="loginPage" type="hidden" id="loginPage" value='{$loginPage}' /></td>
    </tr>
    <tr>
      <td><a href="index.php?view=users&amp;site=register">{?register}</a></td>
    </tr>
  </table>
</form>
