<!+siteHead>
<div class="head">
	<img src="{icon:32:users}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+usersRemove>
<form id="form" name="form" method="post" action="index.php?view=users&amp;site=remove">
<div class="clickTabBox">
	<ul>
		<li><a>{?usersRemove}</a></li>
	</ul>
	<div class="clickTab">
	<table class="table">
        <tr>
          <td><span style="color:#FF0000">{?usersRemove}</span></td>
          </tr>
        <tr>
          <td><input name="remove" type="submit" id="reset" value="{?remove}" />
            <input name="id" type="hidden" id="id" value="{$id}" /></td>
        </tr>
	</table>
	</div>
</div>
</form>
<!-usersRemove>
<!+usersRemoved>
<div class="clickTabBox">
	<ul>
		<li><a>{?usersRemoved}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
<!-usersRemoved>