<!+siteHead>
<table width="100%" cellpadding="1" cellspacing="0">
<!-siteHead>
<!+statsOnline>
  <tr>
    <td width="80%"><img src="{icon:16:online}" alt="online" /> {?online}</td>
    <td width="20%">{$statsOnline}</td>
  </tr>
  <!-statsOnline>
  <!+statsOnlineLink>
  <tr>
    <td width="80%"><img src="{icon:16:online}" alt="online" /> <strong><a href="index.php?view=stats&amp;site=online">{?online}</a></strong></td>
    <td width="20%">{$statsOnline}</td>
  </tr>
  <!-statsOnlineLink>
  <!+statsToday>
  <tr>
    <td><img src="{icon:16:disable}" alt="today" /> {?today}</td>
    <td>{$statsToday}</td>
  </tr>
  <!-statsToday>
  <!+statsYesterday>
  <tr>
    <td><img src="{icon:16:offline}" alt="yesterday" /> {?yesterday}</td>
    <td>{$statsYesterday}</td>
  </tr>
  <!-statsYesterday>
  <!+statsMonth>
  <tr>
    <td><img src="{icon:16:offline}" alt="Month" /> {?month}</td>
    <td>{$statsMonth}</td>
  </tr>
  <!-statsMonth>
  <!+statsAll>
  <tr>
    <td><img src="{icon:16:offline}" alt="All" /> {?all}</td>
    <td>{$statsAll}</td>
  </tr>
  <!-statsAll>
  <!+statsHits>
  <tr>
    <td><img src="{icon:16:offline}" alt="Hits" /> {?hits}</td>
    <td>{$statsHits}</td>
  </tr>
<!-statsHits>
<!+siteFoot>
</table>
<!-siteFoot>
<!+statsMore>
<a href="index.php?view=stats&amp;site=list"><strong>more</strong>
</a>
<!-statsMore>