<!+siteTitle>
<div class="head">
	<img src="{icon:32:{$gamesName}}" alt="{$gamesName}" width="32" height="32" /> {?siteTitle}
</div>
<!-siteTitle>
<!+clanwarsAdd>
<form name="form" action="index.php?view=clanwars&site=add&amp;action=add" method="post" enctype="multipart/form-data">
<div class="clickTabBox">
	<ul>
		<li><a>{?menuGeneral}</a></li>
		<li><a>{?menuPlayer}</a></li>
		<li><a>{?menuMaps}</a></li>
		<li><a>{?menuMisc}</a></li>
	</ul>
	<div class="clickTab">
	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td width="30%">{?clanwarsGame}*</td>
		    <td><select name="clanwarsGameId" id="clanwarsGameId">
					{$clanwarsGames}
		    
		  
		    </select>
		  </td>
		</tr>
		<tr>
		  <td>{?clanwarsTyp}*</td>
		  <td><select name="clanwarsTypId" id="clanwarsTypId">
					{$clanwarsTypes}
		    
		  
		  </select>
		  </td>
	    </tr>
	</table>
	</div>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td width="30%" valign="top">{?clanwarsEnemyClan}*</td>
			<td><input type="hidden" name="clanHidden">
			  <select name="clanwarsClanId" id="clanwarsClanId" onchange="ecMakeVisible('clanHidden','clanwars'+this.value)">
				<option value="">- - -</option>
				<option value="OtherClan">{?clanwarsOtherClan}</option>
						{$clanwarsEnemyClans}
				</select><div style="display:none" id="clanwarsOtherClan">
				<br />
				<input type="text" name="clanwarsClanName" />
				<br />
				<select name="clanwarsClanCountry" id="clanwarsClanCountry">
			  {$countries}
				  
				</select>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top">{?clanwarsEnemyPlayers}*<br />
		    <a href="javascript:void(0)" onclick="ecDynamicInput('clanwarsEnemyNames',1,0)"><img src="{icon:16:new}" alt="add" width="16" height="16" border="0" /></a> <a href="javascript:void(0)" onclick="ecDynamicInput('clanwarsEnemyNames',2,0)"><img src="{icon:16:minus}" alt="remove" width="16" height="16" border="0" /></a></td>
		    <td><div id="clanwarsEnemyNames"><div name="id"><input type="text" name="clanwarsEnemyNames[]"></div></div>
		  </td>
		</tr>
	</table>
	<table class="table">
		<tr>
			<td width="30%">{?clanwarsSquads}*</td>
			<td>
				<input type="hidden" name="squadHidden">
				<select name="clanwarsSquadId" id="clanwarsSquadId" onchange="ecMakeVisible('squadHidden',this.value)">
			  <option value="">- - -</option>
						{$clanwarsSquads}
				</select>
			</td>
		</tr>
		<tr>
			<td valign="top">{?clanwarsSquadPlayer}*</td>
			<td>{$clanwarsSquadPlayer}</td>
		</tr>
	</table>
	</div>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td width="30%">{?clanwarsDate}*</td>
			<td width="70%">
				<input name="clanwarsDay" type="text" id="clanwarsDay" size="5" maxlength="2" style="width:25px;" />
		      	. 
		      	<input name="clanwarsMonth" type="text" id="clanwarsMonth" size="5" maxlength="2" style="width:25px;" />
	            .
	             <select name="clanwarsYear" id="clanwarsYear">
						{$clanwarsYears}
				</select>
			</td>
		</tr>
		<tr>
			<td>{?clanwarsTime}*</td>
			<td><input name="clanwarsHour" type="text" id="clanwarsHour" size="5" maxlength="2" style="width:25px;" />
				:
				  <input name="clanwarsMin" type="text" id="clanwarsMin" size="5" maxlength="2" style="width:25px;" /></td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" class="table">
		<tr>
			<td>
				<table id="score" style="width:100%;">
					<tr>
					  <td width="30%">{?clanwarsMap}*</td>
				      <td colspan="2"><input name="clanwarsMap[]" id="clanwarsMap[]" /></td>
				  </tr>
					<tr>
						<td>&nbsp;</td>
						<td width="35%"><div align="center"><font color="green"><strong>{?teamSquad}</strong></font></div></td>
					    <td width="35%"><div align="center"><font color="red"><strong>{?teamEnemy}</strong></font></div></td>
					</tr>
					<tr>
					  <td>{?clanwarsScore1}*</td>
					  <td><div align="center">
					    <input name="clanwarsScore[]4" type="text" id="clanwarsScore[]4"  style="width:30px;" />
				      </div></td>
				      <td width="35%"><div align="center">
				        <input name="clanwarsScore[]2" type="text" id="clanwarsScore[]2"  style="width:30px;" />
			          </div></td>
				  </tr>
					<tr>
						<td>{?clanwarsScore2}*</td>
						<td><div align="center">
						  <input name="clanwarsScore[]" type="text" id="clanwarsScore[]"  style="width:30px;" />
					    </div></td>
					    <td><div align="center">
					      <input name="clanwarsScore[]3" type="text" id="clanwarsScore[]3"  style="width:30px;" />
				        </div></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
		  <td>
			<a href="javascript:void(0)" onclick="ecDynamicMapInput('score',1,0)"><img src="{icon:16:new}" alt="add" width="16" height="16" border="0" /></a>
			<a href="javascript:void(0)" onclick="ecDynamicMapInput('score',2,0)"><img src="{icon:16:minus}" alt="remove" width="16" height="16" border="0" /></a>			</td>
		</tr>
	</table>
	</div>
	<div class="clickTab">
	  {?clanwarsInfo} <br />
	  <textarea name="clanwarsInfo" cols="55" rows="10" id="clanwarsInfo">DEMO noch nicht eingebaut, da ich auf den BBCODE warte</textarea>
	  <br />
	  <br />
	  {$uploadAllowed}	</div>
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?save}</a></li>
	</ul>
	<div class="clickTab">
	  <input name="save" type="submit" id="save" value="{?save}" />
      <input name="reset"  type="reset" id="reset" value="{?reset}" />
	  <span style="color:#FF0000">{$errorMsg}</span></div>
</div>
</form>
<!-clanwarsAdd>
<!+select>
	<option value="{$value}">{$name}</option>
<!-select>
<!+squadView>
<div style="display:none" id="{$value}">
	{$squadNames}
</div>
<!-squadView>
<!+squadPlayer>
	<input name="clanwarsSquadPlayer[]" type="checkbox" value="{$playerId}" class="checkbox">{$playerName}<br />
<!-squadPlayer>
<!+uploadAllowed>
<table class="table">
	<tr>
		<td valign="top"><strong>{?allowedTypes}</strong></td>
		<td>{$uploadPictures}<br />{$uploadArchives}</td>
	</tr>
	<tr>
		<td colspan="2">
  <tbody id='uploads'></tbody>
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="button" value="{?fileAdd}" id="add" onClick="ecFileInput('uploads')"></td>
	</tr>
</table>
<!-uploadAllowed>
<!+clanwarsSaved>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarSaved}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
<!-clanwarsSaved>