<!+siteHead>
<div class="head">
	<img src="{icon:32:clanwars}" alt="clanwars" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+clanwarsDetails>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsSquads}</a></li>
	</ul>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td colspan=3><a href="?view=games&amp;site=details&amp;id={$clanwarsGameId}"><img src="uploads/games/{$clanwarsGameImg}" alt="{$clanwarsGameImg}" width="16" height="16" border="0" /></a> <strong>{$clanwarsGameName}</strong></td>
		</tr>
		<tr>
		  <td width="40%" align="center"><img src="uploads/squads/{$clanwarsSquadImg}" alt="{$clanwarsSquadImg}" width="100px" height="100px"><br /></td>
			<td width="10%" rowspan="2" align="center"><img src="{icon:48:versus}" alt="versus" width="48" height="48" />
				<br />
			  	<br />
		    	{$clanwarsXonX}
			</td>
		  <td align="center" width="40%"><img src="uploads/clandb/{$clanwarsEnemyImg}" alt="{$clanwarsEnemyImg}" width="100px" height="100px"></td>
		</tr>
		<tr>
		  <td width="40%" align="center"><img src="{icon:country:{$clanwarsSquadNation}}" alt="{$clanwarsSquadNation}" width="16" height="11" /> <a href="?view=squads&amp;site=members&amp;id={$clanwarsSquadId}">{$clanwarsSquadName}</a></td>
		  <td align="center"><img src="{icon:country:{$clanwarsEnemyNation}}" alt="{$clanwarsEnemyNation}" width="16" height="11" /> <a href="?view=clandb&amp;site=details&amp;id={$clanwarsEnemyId}">{$clanwarsEnemyName}</a></td>
	  </tr>
	</table>
	</div>
</div>

<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsDetails}</a></li>
	</ul>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td><strong><img src="{icon:16:typ}" alt="typ" width="16" height="16" /> {?clanwarsTyp}</strong></td>
			<td colspan="2">{$clanwarsTyp}</td>
		</tr>
		<tr>
			<td><strong><img src="{icon:16:date}" alt="date" width="16" height="16" /> {?clanwarsDate}</strong></td>
			<td colspan="2">{$clanwarsDate} {?at} {$clanwarsTime}</td>
		</tr>
	</table>
	</div>
</div>

<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsLineup}</a></li>
	</ul>
  <div class="clickTab">
	<table class="table">
		<tr>
			<td width="50%" valign="top">
				<table style="width:100%">
					<tr>
						<td width="25%"><b>{?squadLineup}</b></td>
					</tr>
					<tr>
					  <td>{$squadLineup}</td>
				  </tr>
				</table>
			</td>
		    <td valign="top"><table style="width:100%">
            <tr>
              <td><b>{?enemyLineup}</b></td>
            </tr>
            <tr>
              <td>{$enemyLineup}</td>
            </tr>
		    
	      </table></td>
		</tr>
	</table>
  </div>
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsRounds}</a></li>
	</ul>
	<div class="clickTab">
	<table class="table">
		{$clanwarsRounds}
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td><strong><font color="##006600">{?clanwarsSquad}</font></strong></td>
		  <td><strong><font color="#ff0000">{?clanwarsEnemy}</font></strong></td>
		</tr>
		<tr>
		  <td><strong>{?clanwarsTotal}</strong></td>
		  <td><strong>{$scoreStatus}</strong></td>
		  <td><strong>{$totalScoreSquad}</strong></td>
		  <td><strong>{$totalScoreEnemy}</strong></td>
	  </tr>
	</table>
	</div>
</div>

<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsMisc}</a></li>
	</ul>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td colspan="3"><b>{?clanwarsReport}</b></td>
		</tr>
		<tr>
			<td colspan="3">{$clanwarsInfo}</td>
		</tr>
		{$media}
	</table>
	</div>
</div>
<!-clanwarsDetails>
<table>
<!+mapRound>
<tr>
	<td width="30%"><strong>{?clanwarsMap}</strong></td>
	<td width="30%"><strong>{?clanwarsRound}</strong></td>
	<td width="20%"><strong><font color="#006600">{?clanwarsSquad}</font></strong></td>
	<td width="20%"><strong><font color="#ff0000">{?clanwarsEnemy}</font></strong></td>
</tr>
<tr>
  <td width="30%" rowspan="2"><strong>{$map}</strong></td>
	<td><em>{?clanwarsRound1}</em></td>
	<td>{$scoreSquadRound1}</td>
	<td>{$scoreEnemyRound1}</td>
</tr>
<tr>
  <td><em>{?clanwarsRound2}</em></td>
  <td>{$scoreSquadRound2}</td>
  <td>{$scoreEnemyRound2}</td>
</tr>
<!-mapRound>
</table>
<table>
<!+mediaArchives>
<tr>
	<td><img src="{icon:extensions:rar}" alt="archive" width="16" height="16" /> <a href="uploads/clanwars/archives/{$medien}">{$medien}</a></td>
<tr>
<!-mediaArchives>
</table>
<table>
<!+mediaImages>
<tr>
	<td><img src="{icon:extensions:jpg}" alt="archive" width="16" height="16" /> <a href="uploads/clanwars/images/{$medien}" target="_blank">{$medien}</a></td>
<tr>
<!-mediaImages>
</table>
<table>
<!+media>
<tr>
	<td colspan="3"><strong>{?clanwarsMedia}</strong></td>
</tr>
<tr>
	<td valign="top"><strong>{?clanwarsImages}</strong>
		<table class="table">
			{$mediaImageTemplate}
		</table>	
	</td>
	<td colspan="2" valign="top"><strong>{?clanwarsArchives}</strong>
		<table class="table">
			{$mediaArchivTemplate}
		</table>
	</td>
</tr>
<!-media>
</table>
<!+squadLineup>
	<img src="{icon:country:{$nation}}" alt="{$nation}" width="16" height="11" /> <a href="?view=users&amp;site=details&amp;id={$userId}">{$name}</a><br />
<!-squadLineup>
<!+enemyLineup>
	<img src="{icon:country:{$clanwarsEnemyNation}}" alt="{$clanwarsEnemyNation}" width="16" height="11" /> {$name}
	<br />
<!-enemyLineup>