<!+siteEntry>
<script>ecMapwahl([{$mapNamen}])</script>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
    <td width="32" class="head1"><img src="{icon:32:{$gamesName}}" alt="{$gamesName}" width="32" height="32" /></td>
    <td class="head1">{$gameName} {?siteTitle}</td>
  </tr>
</table>
<form name="Form" action="index.php?view=clanwars&site=edit&amp;action=edit&clanwarsId={$clanwarsId}" method="post" enctype="multipart/form-data">
<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td><strong>{?category}</strong></td>
  	<td><select name="category">
			<option value="{$categoryId}">{$categoryName}</option>
  			<option value="">- - -</option>
  				{$categoryOptions}
  		</select> - <input name="newCategory" type="text" />  	</td>
  </tr>
</table>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td valign="top" width="30%"><strong>{?enemyClan}</strong></td>
  	<td><input type="hidden" name="newClanHide"/>
		<select name="clanDb">
			<option value="{$clanId}">{$clanName}</option>
			<option value="">- - -</option>
  				{$clanDbOptions}
			<option value="" onclick="ecMakeVisible('newClanHide','another')">{?another}</option>
  		</select>
		<div style="display:none" id="another"><input name="newClan" type="text" /> </div>
  </tr>
  <tr>
  	<td colspan="2"  width="30%"><strong>{?enemyList}</strong></td>
  </tr>
  <tr>
  	<td valign="bottom" width="30%"></td>
	<td>{$enemyNamesOption}
		<div id="enemyNames"><div name="id"></div></div>
		<a href="javascript:void(0)" onclick="ecDynamicInput('enemyNames',1,{$enemyInputCount})"><img src="{icon:16:new}" /></a> <a href="javascript:void(0)" onclick="ecDynamicInput('enemyNames',2,{$enemyInputCount})"><img src="{icon:16:no}" /></a>
	</td>
  </tr>
</table>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td  width="30%"><strong>{?squads}</strong></td>
  	<td><input type="hidden" name="squadPlayerVersteckt" value="{$squadCurrentId}">
  		<select name="squad" onchange="ecMakeVisible('squadPlayerVersteckt',this.value)">
			<option value="{$squadCurrentId}">{$squadNameCurrentMatch}</option>
			<option value="">- - -</option>
  				{$squadOptions}
  		</select>  	</td>
  </tr>
  <tr>
  	<td valign="top" width="30%"><strong>{?SquadPlayer}</strong></td>
  	<td>{$squadPlayer}</td>
  </tr>
</table>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td width="30%"><strong>{?Date}</strong></td>
  	<td><select name="day">
			<option value="{$day}">{$day}</option>
  			<option value="">- - -</option>
  				{$dayOption}
  		</select>
  		<select name="month">
			<option value="{$month}">{$month}</option>
  			<option value="">- - -</option>
  				{$monthOption}
  		</select>
  		<select name="year">
		<option value="{$year}">{$year}</option>
  			<option value="">- - -</option>
  				{$yearOption}
  		</select>  	</td>
  </tr>
  <tr>
  	<td width="30%"><strong>{?time}</strong></td>
	<td><select name="hour">
		<option value="{$hour}">{$hour}</option>
			<option value="">- - -</option>
				{$hourOption}
		</select>
:		
<select name="min">
			<option value="{$min}">{$min}</option>
			<option value="">- - -</option>
				{$minOption}
		</select>	</td>
  </tr>
</table>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td colspan="2">{$mapscore}</td>
  </tr>
  <tr>
  	<td colspan="2"><input type="button" value="{?addRound}" onClick="ecDynamicMapInput('score',1,{$countAllMaps})"><input type="button" value="{?deleteRound}" onClick="ecDynamicMapInput('score',2,{$countAllMaps})"></td>
  </tr>
</table>

<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td><strong>{?bericht}</strong></td>
  </tr>
  <tr>
  	<td><textarea>DEMO noch nicht eingebaut, da ich auf den BBCODE warte</textarea></td>
  </tr>
</table>

  {$media}
<table style="width:{ecTableWidth}" border="0" class="table">
	<tr>
		<td>{$uploadAllowed}</td>
	</tr>
</table>  
 
  
<table style="width:{ecTableWidth}" border="0" class="table">
  <tr>
  	<td><input type="submit" value="{?submit}" /> <input type="reset" value="{?reset}" /></td>
  </tr>
</table>
</form>
<!-siteEntry>

<!+categoryOptions>
	<option value="{$categoryId}">{$categoryName}</option>
<!-categoryOptions>

<!+clanDbOptions>
	<option value="{$clanId2}">{$clanName2}</option>
<!-clanDbOptions>

<!+squadOptions>
	<option value="{$squadId}">{$squadName}</option>
<!-squadOptions>

<!+squadView>
	<div style="display:{$displayNone}" id="{$squadId}">
		{$squadNames}
	</div>
<!-squadView>

<!+squadPlayer>
	<input name="squadPlayer[]" type="checkbox" value="{$playerIds}" style="width:20px" {$checked}>{$playerName}<br />
<!-squadPlayer>

<!+day>
	<option value="{$d}">{$d}</option>
<!-day>

<!+month>
	<option value="{$m}">{$m}</option>
<!-month>

<!+years>
	<option value="{$y}">{$y}</option>
<!-years>

<!+hour>
	<option value="{$h}">{$h}</option>
<!-hour>

<!+min>
	<option value="{$mi}">{$mi}</option>
<!-min

<!+uploadAllowed>
	<table style="width:{ecTableWidth}" border="0" class="table">
	  <tr>
		<td valign="top" width="30%"><strong>{?allowed}</strong></td>
		<td>{$pics}<br />{$archiver}</td>
	  </tr>
	  <tr>
		<td colspan="2">
			<tbody id='uploads'></tbody>
		</td>
	  </tr>
	  <tr>
		<td colspan="2"><input type="button" value="{?fileAdd}" onClick="ecFileInput('uploads')"></td>
	  </tr>
	</table>
<!-uploadAllowed>

<!+mapScore>
	<table style="width:{ecTableWidth}" border="0" id="score">
		<tr>
			<td valign="top" width="30%"><strong>{?map}</strong></td>
			<td><input name="map[]" value="{$map}"/>
			</td>
		</tr>
		<tr>
			<td><strong>{?scoreTeam1}</strong></td>
			<td><input type="text" name="score[]" size="5" value="{$score1}"> 
			: <input type="text" name="score[]" size="5" value="{$score2}"/></td>
		</tr>
		<tr>
			<td><strong>{?scoreTeam2}</strong></td>
			<td><input type="text" name="score[]" size="5" value="{$score3}"> 
			: <input type="text" name="score[]" size="5" value="{$score4}"/></td>
		</tr>
	</table>
<!-mapScore>

<!+enemyNames>
	<input type="text" name="enemyNames[]" value="{$enemyNames}"><br />
<!-enemyNames>

<!+uploadetFiles>
	<tr>
		<td width="30%"><input type="checkbox" value="{$medien}" name="serverFile[]"/></td>
		<td>{$medien}</td>
	</tr>
<!-uploadetFiles>

<!+medien>
	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td colspan="2"><strong>{?dataOnServer}</strong></td>
		</tr>
		{$uploadetFiles}
		<tr>
			<td colspan="2">{?markData}</td>
		</tr>
	</table>
<!-medien>

<!+pics>
	{?pics}
<!-pics>

<!+archiver>
	{?archiver}
<!-archiver>

<!+Error>
	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td><strong>{?warning}</strong></td>
		</tr>
			{$enemyError}
			{$enemyPlayerError}
			{$playerError}
			{$mapError}
			{$scoreError}
			 
		<tr>
			<td><a href="javascript:history.back()"><strong>{?back}</strong></a></td>
		</tr>
	</table>
<!-Error>

<!+enemyError>
		<tr>
			<td>{?enemyError}</td>
		</tr>
<!-enemyError>
<!+enemyPlayerError>
		<tr>
			<td>{?enemyPlayerError}</td>
		</tr>
<!-enemyPlayerError>

<!+playerError>
		<tr>
			<td>{?playerError}</td>
		</tr>
<!-playerError>

<!+mapError>
		<tr>
			<td>{?mapError}</td>
		</tr>
<!-mapError>
<!+scoreError>
		<tr>
			<td>{?scoreError}</td>
		</tr>
<!-scoreError>
<!+saved>
	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td><strong>{?clanwarSavedHeader}</strong></td>
		</tr>
		<tr>
			<td>{?clanwarSaved}</td>
		</tr>
		<tr>
			<td><strong>{$next}</strong></td>
		</tr>
	</table>
<!-saved>