<!+siteTitle>
<div class="head">
	<img src="{icon:32:clanwars}" alt="clanwars" width="32" height="32" /> {?siteTitle}
</div>
<!-siteTitle>
<!+clanwarsHead>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsWars}</a></li>
	</ul>
	<div class="clickTab">
	  <table class="table">
        <tr>
          <td width="5%"><strong>{?clanwarsGame}</strong></td>
          <td width="20%"><strong>{?clanwarsDate}</strong></td>
          <td width="25%"><strong>{?clanwarsSquad}</strong></td>
          <td width="25%"><strong>{?clanwarsEnemy}</strong></td>
          <td width="15%"><strong>{?clanwarsTyp}</strong></td>
          <td width="10%"><strong>{?clanwarsResult}</strong></td>
        </tr>
        <!-clanwarsHead>
        <!+clanwarsData>
        <tr>
          <td><span class="head"><a href="?view=games&amp;site=details&amp;id={$clanwarsGameId}"><img src="uploads/games/{$clanwarsGameImg}" alt="{$clanwarsGameName}" width="16" height="16" border="0" /></a></span></td>
          <td>{$clanwarsDate}</td>
          <td><img src="{icon:country:{$clanwarsSquadNation}}" alt="{$clanwarsSquadNation}" width="16" height="11" /> <a href="?view=squads&amp;site=members&amp;id={$clanwarsSquadId}">{$clanwarsSquadName}</a></td>
          <td><img src="{icon:country:{$clanwarsEnemyNation}}" alt="{$clanwarsEnemyNation}" width="16" height="11" /> <a href="?view=clandb&amp;site=details&amp;id={$clanwarsEnemyId}">{$clanwarsEnemyName}</a></td>
          <td>{$clanwarsTyp}</td>
          <td><a href="index.php?view=clanwars&amp;site=details&amp;id={$clanwarsId}">{$clanwarsResult}</a></td>
        </tr>
        <!-clanwarsData>
        <!+clanwarsFoot>
      </table>
	</div>
</div>
<!-clanwarsFoot>
<!+clanwarsStats>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsStatistic}</a></li>
	</ul>
	<div class="clickTab">
	  <table class="table">
        <tr>
          <td colspan="4">{?statsWarsDone} <b>{$clanwarsCount}</b> {?statsWarsDone2}</td>
        </tr>
        <tr>
          <td width="15%"><font color="#006600">{?statsWon}</font></td>
          <td width="65%"><table cellpadding="0" cellspacing="0" style="border:0px;width:{$percentageWins}%;height:5px;background-color:#006600;">
            <tr>
              <td></td>
            </tr>
          </table></td>
          <td width="5%"><font color="#006600">{$scoreWins}</font></td>
          <td width="15%"><font color="#006600">{$percentageWins}%</font></td>
        </tr>
        <tr>
          <td><font color="#ff6600">{?statsDraw}</font></td>
          <td>
		  	<table cellpadding="0" cellspacing="0" style="border:0px;width:{$percentageDraws}%;height:5px;background-color:#ff6600;">
  			  <tr>
    			<td></td>
 			  </tr>
			</table>
		  </td>
          <td><font color="#ff6600">{$scoreDraws}</font></td>
          <td><font color="#ff6600">{$percentageDraws}%</font></td>
        </tr>
        <tr>
          <td><font color="#FF0000">{?statsLost}</font></td>
          <td><table cellpadding="0" cellspacing="0" style="border:0px;width:{$percentageLoses}%;height:5px;background-color:#FF0000;">
            <tr>
              <td></td>
            </tr>
          </table></td>
          <td><font color="#FF0000">{$scoreLoses}</font></td>
          <td><font color="#FF0000">{$percentageLoses}%</font></td>
        </tr>
      </table>
	</div>
</div>
<!-clanwarsStats>