<!+head>

<!-head>

<!+entry>

	{$statistik}
<div class="clickTabBox">
	<ul>
		<li><a>{?plays}</a></li>
	</ul>
	<div class="clickTab">
	
        <table width="100%" border="0">
	<tr>
		<td>
	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td width="20%"><strong>{?game}</strong></td>
			<td width="10%"><strong>{?date}</strong></td>
			<td width="20%"><strong>{?squad}</strong></td>
			<td width="20%"><strong>{?enemy}</strong></td>
			<td width="20%"><strong>{?typ}</strong></td>
			<td width="10%"><strong>{?result}</strong></td>
		</tr>
		{$wars}
	</table>
	</td>
	</tr>
        </table>
	</div>
</div>
<!-entry>

<!+wars>
	<tr>
		<td>{$gameName}</td>
		<td>{$date}</td>
		<td>{$squadName}</td>
		<td><a onclick="ecOpenPopup('{$enemyName}','{$popup}','{?close}')" href="javascript:void(0)">{$enemyName}</a></td>
		<td></td>
		<td><a href="index.php?view=clanwars&amp;site=details&cwId={$matchId}">{$result}</a></td>
	</tr>
<!-wars>

<!+statistik>
<div class="head">
	<img src="{icon:32:clanwars}" alt="clanwars" width="32" height="32" /> {?siteTitle}
</div>

<div class="clickTabBox">
	<ul>
		<li><a>{?statistik}</a></li>
	</ul>
	<div class="clickTab">
	
        <table width="100%" border="0">
	<tr>
		<td>	<table style="width:{ecTableWidth}" border="0" class="table">
		<tr>
			<td colspan="4" align="center">{?warsDone} <b>{$countWars}</b> {?warsDone2}</td>
		</tr>
		<tr>
			<td colspan="4" align="center">{?score} <font color="Green">{$statistikErgebnisTeam1}</font> : <font color="Red">{$statistikErgebnisTeam2}</font></td>
		</tr>
		<tr>
			<td width="15%"><font color="Green">{?won}</font></td>
			<td width="65%"></td>
			<td width="5%"><font color="Green">{$won}</font></td>
			<td width="15%"><font color="Green">{$wonPercent}%</font></td>
		</tr>
		<tr>
			<td><font color="Orange">{?draw}</font></td>
			<td></td>
			<td><font color="Orange">{$draw}</font></td>
			<td><font color="Orange">{$drawPercent}%</font></td>
		</tr>
		<tr>
			<td><font color="Red">{?lost}</font></td>
			<td></td>
			<td><font color="Red">{$lost}</font></td>
			<td><font color="Red">{$lostPercent}%</font></td>
		</tr>
	</table></td>
	</tr>
        </table>
	</div>
</div>
<!-statistik>

<!+moreInfoClan>{?ClanInfo}<br /><br /><strong>{?enemyName}:</strong> {$enemyName}<br /><strong>{?enemyShortName}:</strong> {$enemyShortName}<br /><strong>{?enemyTag}:</strong> {$enemyTag}<br /><strong>{?enemyCountry}:</strong> {$clanDbCountry}<br /><strong>{?enemyHomepage}:</strong> {$enemyHomepage}<br /><!-moreInfoClan>