<!+siteHead>
<div class="head">
	<img src="{icon:32:clanwars}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+clanwarsHead>
<div class="clickTabBox">
	<ul>
		<li><a>{?clanwarsTitle}</a></li>
		<li><a>{?addTitle}</a></li>
		<li><a>{?accessTitle}</a></li>
		<li><a>{?uploadAccessTitle}</a></li>
	</ul>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td width="20%"><strong>{?clanwarsId}</strong></td>
			<td width="30%"><strong>{?clanwarsDate}</strong></td>
			<td><strong>{?clanwarsEnemy}</strong></td>
			<td><strong>{?clanwarsGame}</strong></td>
			<td width="5%"><img src="{icon:16:edit}" width="16" height="16" /></td>
		    <td width="5%"><img src="{icon:16:delete}" width="16" height="16" /></td>
		  </tr>
		<!-clanwarsHead>
		<!+clanwarsData>
		  <tr>
			<td># {$clanwarsId}</td>
			<td>{$clanwarsDate}</td>
			<td width="30%"><a href="index.php?view=clanwars&site=details&Id={$clanwarsId}">{$enemyName}</a></td>
			<td width="10%"><img src="uploads/games/{$clanwarsGame}" alt="{$gamesIcon}" width="16" height="16"/></td>
			<td><a href="index.php?view=clanwars&site=edit&amp;id={$clanwarsId}" ><img src="{icon:16:edit}" width="16" height="16" /></a></td>
		    <td><a href="index.php?view=clanwars&site=remove&amp;id={$clanwarsId}"><img src="{icon:16:delete}" width="16" height="16" /></a></td>
		  </tr>
		<!-clanwarsData>
		<!+clanwarsFoot>
		</table>
	</div>
<!-clanwarsFoot>
<!+clanwarsAccess>
	<div class="clickTab">
		<form action="index.php?view=clanwars&site=manage&amp;action=permission" method="post">
		<table class="table">
		  <tr>
			<td width="50%"><strong>{?accessDescription}</strong></td>
			<td><strong>{?activate}</strong></td>
		  </tr>
		  <tr>
			<td>{?accessComments}</td>
			<td><input name="commentPermission" type="checkbox" value="1" class="checkbox" {$commentPermission} /></td>
		  </tr>
		  <tr>
			<td colspan="2"><input name="save" type="submit" id="save" value="{?save}" /> 
			  <input name="reset" type="reset" id="reset" value="{?reset}" /></td>
		  </tr>
		</table>
		</form>
	</div>
<!-clanwarsAccess>
<!+clanwarsAccessUpload>
	<div class="clickTab">
		<form action="index.php?view=clanwars&site=manage&amp;action=uploadTypes" method="post">
<strong>{?uploadAccessDescription}:</strong><br />
<table class="table">
		  <tr>
			<td width="50%"><strong>{?uploadDescription}</strong></td>
		    <td><strong>{?activate}</strong></td>
		  </tr>
		  <tr>
			<td>{?uploadPictures}</td>
			<td><input name="pics" type="checkbox" value="1" class="checkbox" {$pics} /></td>
		  </tr>
		  <tr>
			<td width="30%">{?uploadArchives}</td>
			<td><input name="archiver" type="checkbox" value="1" class="checkbox" {$archiver} /></td>
		  </tr>
		  <tr>
			<td colspan="2"><input name="save" type="submit" id="save" value="{?save}" /> 
			  <input name="reset" type="reset" id="reset" value="{?reset}" /></td>
		  </tr>
		</table>
		</form>
	</div>
<!-clanwarsAccessUpload>
<!+clanwarsAdd>
	<div class="clickTab">
		<form method="post" action="index.php?view=clanwars&site=add">
		<strong>{?clanwarsAddGame}:</strong> 
		   <select name="gameId">
			{$options}	
	      </select>
		   <br />
	      <br />
		  <input name="add" type="submit" id="add" value="{?add}" />
		</form>
	</div>
<!-clanwarsAdd>
<!+siteFoot>
</div>
<!-siteFoot>
<!+clanwarsSaved>
	<div class="clickTabBox">
		<ul>
			<li><a>{?clanwarsSaved}</a></li>
		</ul>
		<div class="clickTab">{$next}</div>
	</div>
<!-clanwarsSaved>
<!+select>
	<option value="{$value}"{$checked}>{$description}</option>
<!-select>