<!+siteHead>
<div class="head">
	<img src="{icon:32:groups}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<form id="form1" name="form1" method="post" action="index.php?view=groups&amp;site=add">
<div class="clickTabBox">
	<ul>
		<li><a>{?groupsTitle}</a></li>
		<li><a>{?groupsNew}</a></li>
	</ul>
<!-siteHead>
<!+groupsHead>
	<div class="clickTab">
		<table class="table">
		  <tr>
    <td class="cellmiddle"><strong>{?groupsTitle} </strong><br />
        <table width="100%" border="0">
		  <tr>
            <td width="20%"><strong>{?groupsId}</strong></td>
            <td><strong>{?groupsName}</strong></td>
            <td width="5%"><strong>{?groupsAccess}</strong></td>
            <td width="5%"><img src="{icon:16:edit}" width="16" height="16" border="0" /></td>
            <td width="5%"><img src="{icon:16:delete}" width="16" height="16" border="0" /></td>
          </tr>
		  <!-groupsHead>
		  <!+groupsData>
		  <tr>
            <td># {$groupsId}<a href="index.php?view={$pluginFolder}&amp;site=manage"></a></td>
            <td><a href="index.php?view=groups&amp;site=details&amp;id={$groupsId}">{$groupsName}</a></td>
            <td><div align="center"><a href="index.php?view=groups&amp;site=access&amp;id={$groupsId}"><img src="{icon:16:access}" width="16" height="16" border="0" /></a></div></td>
            <td><a href="index.php?view=groups&amp;site=edit&amp;id={$groupsId}"><img src="{icon:16:edit}" width="16" height="16" border="0" /></a></td>
            <td><a href="index.php?view=groups&amp;site=remove&amp;id={$groupsId}"><img src="{icon:16:delete}" width="16" height="16" border="0" /></a></td>
          </tr>
		  <!-groupsData>
		  <!+groupsFoot>
				</table>
			</td>
		  </tr>
		</table>
	</div>
<!-groupsFoot>
<!+groupsNew>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<table>
				  <tr>
    <td class="cellmiddle"><strong>{?groupsNew} </strong><br />    
    <img src="{icon:16:new}" width="16" height="16" border="0" /> <a href="index.php?view=groups&amp;site=add">{?groupsAdd}</a> </td>
  </tr>
				</table>
			</td>
		  </tr>
		</table>
	</div></div>
<!-groupsNew>