<!+siteTitle>
<div class="head">
	<img src="{icon:32:database}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteTitle>
<!+siteHead>
<div class="clickTabBox">
	<ul>
		<li><a>{?optimizeTitle}</a></li>
		<li><a>{?tablesTitle}</a></li>
		<li><a>{?dumpTitle}</a></li>
		<li><a>{?backupsTitle}</a></li>
	</ul>
<!-siteHead>
<!+dbOptimize>
	<div class="clickTab">
		<img src="{icon:16:pfeil}" width="16" height="16" /> <a href="index.php?view=system&amp;site=database&amp;do=optimize">{?dboptimize}</a>
	</div>
<!-dbOptimize>
<!+tablesHead>
	<div class="clickTab">
	    <table class="table">
          <tr>
            <td colspan="4"><strong>{?tablesTitle}</strong></td>
          </tr>
          <tr>
            <td colspan="2"><strong>{?tablesName}</strong></td>
            <td width="30%"><strong>{?tablesRows}</strong></td>
            <td width="30%"><strong>{?tablesOptimized}</strong></td>
          </tr>
          <!-tablesHead>
          <!+tablesData>
          <tr>
            <td colspan="2">{$tablesName}</td>
            <td>{$tablesRows}</td>
            <td>{$tablesOptimized}</td>
          </tr>
          <!-tablesData>
          <!+tablesFoot>
        </table>
	</div>
<!-tablesFoot>
<!+backupsHead>
	<div class="clickTab">
	  <table class="table">
        <tr>
          <td width="80%">{?name}</td>
          <td width="20%">{?action}</td>
        </tr>
        <!-backupsHead>
        <!+backupsData>
        <tr>
          <td><img src="{icon:extensions:{$typ}}" alt="{$typ}" width="16" height="16" /> <a href="backups/database/{$name}" target="_blank">{$name}</a></td>
          <td><div align="center"><a href="index.php?view=system&amp;site=database&amp;do=delete&amp;backup={$name}"><img src="{icon:16:delete}" width="16" height="16" border="0" /></a> <a href="index.php?view=system&amp;site=database&amp;do=import&amp;backup={$name}"><img src="{icon:16:save}" width="16" height="16" border="0" /></a></div></td>
        </tr>
        <!-backupsData>
        <!+backupsFoot>
      </table>
	</div>
<!-backupsFoot>
<!+siteFoot>
</div>
<!-siteFoot>
<!+dbDumpHead>
	<div class="clickTab"> <img src="{icon:16:pfeil}" width="16" /> <a href="index.php?view=system&amp;site=database&amp;do=backup">{?dbDump}</a> <br />
      <!-dbDumpHead>
      <!+dbDumpCompression>
      <img src="{icon:16:pfeil}" width="16" /> <a href="index.php?view=system&amp;site=database&amp;do=backup&amp;compression=1">{?dbDumpGZip}</a>
	  <!-dbDumpCompression>
	  <!+dbDumpFoot>
</div>
<!-dbDumpFoot>
<!+dbDumped>
<div class="clickTabBox">
	<ul>
		<li><a>{?dumpSaved}</a></li>
	</ul>
	<div class="clickTab">
		{$next}
	</div>
</div>
<!-dbDumped>
<!+backupImported>
<div class="clickTabBox">
	<ul>
		<li><a>{?importSaved}</a></li>
	</ul>
	<div class="clickTab">
		{$next}
	</div>
</div>
<!-backupImported>
<!+backupDeleted>
<div class="clickTabBox">
	<ul>
		<li><a>{?deleteSaved}</a></li>
	</ul>
	<div class="clickTab">
		{$next}
	</div>
</div>
<!-backupDeleted>
<!+dbOptimized>
<div class="clickTabBox">
	<ul>
		<li><a>{?optimizeSaved}</a></li>
	</ul>
	<div class="clickTab">
		{$next}¨
	</div>
</div>
<!-dbOptimized>