<!+siteHead>
<div class="head">
	<img src="{icon:32:admin}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<form id="form" name="form" method="post" action="index.php?view=system&amp;site=settings">
<div class="clickTabBox">
	<ul>
		<li><a>{?titleTheme}</a></li>
		<li><a>{?titleLanguage}</a></li>

		<li><a>{?titleOthers}</a></li>
		<li><a>{?titleMail}</a></li>
	</ul>
<!-siteHead>
<!+settingsSkript>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr>
            <td width="40%">{?themeDefaultTheme}</td>

            <td><select name="defaultThemeId" id="defaultThemeId">
            {$dataThemes}
            </select></td>
          </tr>
          <tr>
            <td>{?themeDefaultTemplate}</td>
            <td><select name="defaultTemplateId" id="defaultTemplateId">
            {$dataTemplates}
            </select></td>

          </tr>
          <tr>
            <td>{?themeDataPerPage}</td>
            <td><input name="dataPerPage" type="text" id="dataPerPage" style="width:40px" value="{$dataPerPage}" />
              {?data} </td>
          </tr>
        </table>
	</div>

	<div class="clickTab">
        <table width="100%" border="0">
          <tr></tr>
          <tr>
            <td width="40%">{?defaultLanguage}</td>
            <td><select name="defaultLanguageId" id="defaultLanguageId">
                  {$dataLanguages}
            </select></td>
          </tr>

        </table>
	</div>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr></tr>
          <tr>
            <td width="40%">{?othersTitle}</td>
            <td><input name="title" type="text" id="title" value="{$title}" /></td>

          </tr>
          <tr>
            <td>{?othersRefererTime}</td>
            <td><input name="usualRefererTime" type="text" id="usualRefererTime" style="width:40px" value="{$usualRefererTime}" />
              {?seconds} </td>
          </tr>
          <tr>
            <td>{?othersSiteOnline}</td>

            <td><input name="siteOnline" type="checkbox" class="checkbox" id="siteOnline" value="1"{$online} /></td>
          </tr>
          <tr>
            <td>{?othersStartPage}</td>
            <td>{?plugin}:
              <select name="defaultPlugin" id="defaultPlugin">
                  {$dataStartPlugins}
              </select>
              <br />

              {?site}:
              <input name="defaultSite" type="text" id="defaultSite" value="{$defaultSite}" /></td>
          </tr>
        </table>
	</div>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr>

            <td width="40%">{?mailDefaultAdress}</td>
            <td><input name="mailDefaultAdress" type="text" onchange="ec_check('timechange')" id="mailDefaultAdress" value="{$mailDefaultAdress}" /></td>
          </tr>
          <tr>
            <td>{?mailSubjectPrefix}</td>
            <td><input name="mailSubjectPrefix" type="text" onchange="ec_check('timechange')" id="mailSubjectPrefix" value="{$mailSubjectPrefix}" /></td>
          </tr>
        </table>

	</div>
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?titleSave}</a></li>
	</ul>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr></tr>

          <tr>
            <td colspan="2"><input name="save" type="submit" id="save" value="{?save}" />
              <input name="reset"  type="reset" id="reset" value="{?reset}" /></td>
          </tr>
        </table>
	</div>
</div>
</form>
<!-settingsSkript>
<!+select>
<option value="{$value}"{$checked}>{$description}</option>
<!-select>
<!+settingsSaved>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
    <td class="cellmiddle"><strong>{?titleSaved}<br />
      </strong><br />
      {$next}</td>
  </tr>
</table></div></div>
<!-settingsSaved>