<!+siteHead>
	<div class="head">
		<img src="{icon:32:groups}" alt="title" width="32" height="32" /> {?siteTitle}
	</div>
<!-siteHead>
<!+accessHead>
	<form id="form" name="form" method="post" action="index.php?view=groups&amp;site=access">
<!-accessHead>
<!+accessPluginHead>
	<div class="clickTabBox">
		<ul>
			<li><a>{$plugin}</a></li>
		</ul>
		<div class="clickTab">
			<table class="table">
				  <tr>
					<td colspan="4">
					  <table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td valign="top"><strong>{?accessTitle} {?accessPlugin}:</strong> {$plugin}</td>
						  <td width="32"><div align="right"><img src="{icon:32:{$pluginPath}}" alt="{$pluginPath}" /></div></td>
						</tr>
					  </table>
					</td>
				  </tr>
				  <!-accessPluginHead>
				  <!+accessSite>
				  <tr>
					<td width="10%"><span class="head1"><img src="{icon:16:site}" alt="title" /></span></td>
					<td width="30%">{$site}</td>
					<td width="30%">
					  <div align="center">
						<input name="{$siteId}" type="radio" class="radio" value="0"{$access0} />{?accessNo}
					  </div>
					</td>
					<td width="30%">
					  <div align="center">
						<input type="radio" name="{$siteId}" class="radio" value="1"{$access1} />{?accessYes}
					  </div>
					</td>
				  </tr>
			<!-accessSite>
			<!+accessPluginFoot>
			</table>
			</div>
		</div>
	<!-accessPluginFoot>
<!+accessFoot>
	</form>
<!-accessFoot>
<!+accessEdit>
<div class="clickTabBox">
	<ul>
		<li><a>{?accessEdit}</a></li>
	</ul>
	<div class="clickTab">
        <table width="100%" border="0">
          <tr></tr>

          <tr>
            <td><input name="save" type="submit" id="save" value="{?save}" />
              <input name="reset" type="reset" id="reset" value="{?reset}" />
              <input name="id" type="hidden" id="id" value="{$id}" /></td>
          </tr>
        </table>
	</div>
</div>
<!-accessEdit>
<!+accessEdited>
<div class="clickTabBox">
	<ul>
		<li><a>{?accessEdited}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
</form>
<!-accessEdited>