<!+siteHead>
<div class="head">
	<img src="{icon:32:groups}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<form id="form" name="form" method="post" action="index.php?view=groups&amp;site=remove">
<div class="clickTabBox">
	<ul>
		<li><a>{?groupsRemove}</a></li>
	</ul>
<!-siteHead>
<!+groupsRemove>
	<div class="clickTab">
		<table class="table">
				  <tr>
    <td class="cellmiddle"><table width="100%" border="0">
        <tr>
          <td><span style="color:#FF0000">{?groupsRemove}</span></td>
          </tr>
        <tr>
          <td><input name="save" type="submit" id="reset" value="{?save}" />
            <input name="id" type="hidden" id="id" value="{$id}" /></td>
        </tr>
				</table>
			</td>
		  </tr>
		</table>
	</div></div></form>
<!-groupsRemove>
<!+groupsRemoved>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
    <td class="cellmiddle"><strong>{?groupsRemoved}<br />
      </strong><br />
      {$next}</td>
  </tr>
</table></div></div>
<!-groupsRemoved>