<!+siteHead>
<div class="head">
	<img src="{icon:32:squads}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+squadHead>
<div class="clickTabBox">
	<ul>
		<li><a>{?menuTitle}</a></li>
		<li><a>{?menuTask}</a></li>
		<li><a>{?menuNation}</a></li>
	</ul>
	<div class="clickTab">
		<table class="table">
			<tr>
				<td width="20%"><strong>{?squadId}</strong></td>
				<td width="30%"><strong>{?squadName}</strong></td>
				<td width="40%"><strong>{?squadGame}</strong></td>
				<td width="5%"><img src="{icon:16:edit}" width="16" height="16" /></td>
		    	<td width="5%"><img src="{icon:16:delete}" width="16" height="16" /></td>
			</tr>
		<!-squadHead>
		<!+squadData>
			<tr>
				<td># {$squadId}</td>
				<td>{$squadName}</td>
				<td><img src="uploads/games/{$squadGameImg}" alt="{$squadGameImg}" width="16" height="16"/> <a href="?view=games&amp;site=details&amp;id={$squadGameId}">{$squadGameName} - {$squadGameVersion}</a> </td>
				<td><a href="index.php?view=squads&site=squadedit&id={$squadId}"/><img src="{icon:16:edit}" width="16" height="16" /></td>
		    	<td><a href="index.php?view=squads&site=squadremove&id={$squadId}"/><img src="{icon:16:delete}" width="16" height="16" /></td>
			</tr>
		<!-squadData>
		<!+squadFoot>
		</table>
		<br />
		<img src="{icon:16:new}" width="16" height="16" border="0" />
		<a href="index.php?view=squads&amp;site=squadadd">{?squadAdd}</a>
	</div>
<!-squadFoot>
<!+taskHead>
	<div class="clickTab">
	<table class="table">
		<tr>
			<td width="20%"><strong>{?taskId}</strong></td>
			<td width="40%"><strong>{?taskName}</strong></td>
			<td width="30%"><strong>{?taskPriority}</strong></td>
			<td width="5%"><img src="{icon:16:edit}" width="16" height="16" /></td>
		   	<td width="5%"><img src="{icon:16:delete}" width="16" height="16" /></td>
		</tr>
<!-taskHead>
<!+taskData>
		<tr>
			<td># {$taskId}</td>
			<td>{$taskName}</td>
			<td>{$taskPriority}</td>
			<td><a href="index.php?view=squads&site=taskedit&id={$taskId}"/><img src="{icon:16:edit}" width="16" height="16" /></a></td>
		   	<td><a href="index.php?view=squads&site=taskremove&id={$taskId}"/><img src="{icon:16:delete}" width="16" height="16" /></a></td>
		</tr>
		<!-taskData>
		<!+taskFoot>
		</table>
		<br />
		<img src="{icon:16:new}" width="16" height="16" border="0" />
		<a href="index.php?view=squads&site=taskadd">{?taskAdd}</a>	
	</div>
<!-taskFoot>
<!+clanNation>
	<div class="clickTab">
	  <form id="form1" name="form1" method="post" action="">
	    <table class="table">
          <tr>
            <td width="30%">{?clanName}</td>
            <td width="70%">
              <input name="clanName" type="text" value="{$clanName}" />
            </td>
          </tr>
          <tr>
            <td>{?clanNation}</td>
            <td><select name="clanNation" id="clanNation">
              <option value="{$clanNationId}">{$clanNationName}</option>
              <option value="">- - -</option>
			  {$countries}
            </select></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><input name="save" type="submit" id="save" value="{?save}" />
              <input name="reset"  type="reset" id="reset" value="{?reset}" /></td>
          </tr>
        </table>
	  </form>	
	</div>
<!-clanNation>
<!+settingsSaved>
<div class="clickTabBox">
	<ul>
		<li><a>{?titleSaved}</a></li>
	</ul>
	<div class="clickTab">
		{$next}
	</div>
</div>
<!-settingsSaved>
<!+siteFoot>
</div>
<!-siteFoot>