<!+siteHead>
<div class="head">
	<img src="{icon:32:squads}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<!-siteHead>
<!+squadEdit>
<form id="form1" name="form1" method="post" action="index.php?view=squads&amp;site=squadedit" enctype="multipart/form-data">
<div class="clickTabBox">
	<ul>
		<li><a>{?squadMain}</a></li>
		<li><a>{?squadMember}</a></li>
	</ul>
	<div class="clickTab">
        <table class="table">
			<tr>
				<td width="40%">{?squadName}*</td>
				<td width="60%"><input name="squadName" type="text" value="{$squadName}"/></td>
            </tr>
            <tr>
				<td>{?squadTag}</td>
				<td><input name="squadTag" type="text" value="{$squadTag}"/></td>
            </tr>
            <tr>
				<td>{?squadFight}</td>
				<td>
					{?yes}
					  <input name="squadFight" type="radio" value="0" class="radio" {$yes}/>
					{?no}<input name="squadFight" type="radio" value="1" class="radio" {$no}/>			  </td>
			<tr>
			</tr>
				<td>{?squadGame}*</td>
				<td>
			  		<select name="squadGame">
						<option value="{$squadGameId}">{$squadGameName}</option>
						<option value="">- - -</option>
						{$gameOption}
					</select>				</td>
			</tr>
            <tr>
				<td>{?squadPic1}</td>
				<td><input type="file" name="small_pic"/></td>
            </tr>
			<tr>
				<td colspan="2"><img src="uploads/squads/{$squadPicSmall}" alt="{$squadPicSmall}" /></td>
			</tr>
			<tr>
				<td>{?squadPic2}</td>
				<td><input type="file" name="large_pic"/></td>
            </tr>
			<tr>
				<td colspan="2"><img src="uploads/squads/{$squadPicLarge}" alt="{$squadPicLarge}" /></td>
			</tr>
		</table>
	</div>
	<div class="clickTab">
		<table class="table">
			<tr>
				<td width="40%"><strong>{?squadMembers}</strong></td>
				<td width="25%"><strong>{?member}</strong></td>
				<td width="25%"><strong>{?task}</strong></td>
				<td width="10%"><img src="{icon:16:delete}" width="16" height="16" /></td>
			</tr>
				{$squadPlayer}
			<tr>
				<td></td>
				<td colspan="2">
				<table width="100%" id="member">
						<tr>
							<td width="50%">
								<select name="member[]">
									<option value="">- - -</option>
									{$memberOptions}
								</select>							</td>
							<td width="50%">
								<select name="task[]">
									<option value="">- - -</option>
									{$taskOptions}
								</select>							</td>
						</tr>
				  </table>				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3">
					<input type="button" value="{?addMember}" id="add" onClick="ecDynamicMapInput('member',1,0)">
					<input type="button" value="{?deleteMember}" id="remove" onClick="ecDynamicMapInput('member',2,0)">				</td>
			</tr>
		</table>
	</div>
</div>

<div class="clickTabBox">
	<ul>
		<li><a>{?squadEdit}</a></li>
	</ul>
	<div class="clickTab">
		<input name="id" type="hidden" value="{$id}"/>
		<input name="save" type="submit" id="save" value="{?save}" />
		<input name="reset"  type="reset" id="reset" value="{?reset}" /></td>
	</div>
</div>
</form>
<!-squadEdit>

<!+gameOption>
	<option value="{$gameId}">{$gameName}</option>
<!-gameOption>
<!+memberOption>
	<option value="{$userId}">{$userNick}</option>
<!-memberOption>
<!+taskOption>
	<option value="{$taskId}">{$taskName}</option>
<!-taskOption>

<!+squadPlayer>
<tr>
	<td></td>
	<td>{$squadPlayerName}<input type="hidden" name="members[]" value="{$squadPlayerId}" /> </td>
	<td>
		<select name="tasks[]">
			<option value="{$squadPlayerTaskId}">{$squadPlayerTaskName}</option>
			<option value="">- - -</option>
			{$taskOptions}
		</select>
	</td>
	<td><a href="index.php?view=squads&site=memberremove&squad={$id}&id={$squadPlayerId}"><img src="{icon:16:delete}" width="16" height="16" /></a></td>
</tr>
<!-squadPlayer>

<!+squadEdited>
<div class="clickTabBox">
	<ul>
		<li><a>{?squadEdited}</a></li>
	</ul>
	<div class="clickTab">{$next}</div>
</div>
<!-squadEdited>
<!+squadWarning>
<div class="clickTabBox">
	<ul>
		<li><a>{?squadWarning}</a></li>
	</ul>
	<div class="clickTab">
		<table class="table">
			<tr>
				<td><span style="color:#FF0000">{?errorEmpty}</span></td>
			</tr>
			<tr>
				<td>{$next}</td>
			</tr>
		</table>
	</div>
</div>
<!-squadWarning>