<!+siteHead>
<div class="head">
	<img src="{icon:32:admin}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?plugins}</a></li>
		<li><a>{?systemTools}</a></li>
		<li><a>{?versionCheck}</a></li>
	</ul>
<!-siteHead>
<!+pluginsHead>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<table>
		<!-pluginsHead>
		  <!+pluginsData>
          <tr>
            <td width="10%" rowspan="2"><a href="index.php?view={$pluginFolder}&amp;site=manage"><img src="{icon:plugins:{$pluginFolder}}" alt="{$pluginFolder}" width="48" height="48" border="0" /></a></td>
            <td width="90%"><a href="index.php?view={$pluginFolder}&amp;site=manage"><strong>{$pluginName}</strong></a></td>
          </tr>
          <tr>
            <td>{$pluginDescription}</td>
          </tr>
		  <!-pluginsData>
		<!+pluginsFoot>
				</table>
			</td>
		  </tr>
		</table>
	</div>
<!-pluginsFoot>
<!+systemToolsHead>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<table>
          <!-systemToolsHead>
          <!+systemToolsData>
          <tr>
            <td width="10%" rowspan="2"><a href="index.php?view={$pluginPath}&amp;site={$sitePath}"><img src="{icon:tools:{$pluginPath}_{$sitePath}}" alt="{$pluginPath}_{$sitePath}" width="48" height="48" border="0" /></a></td>
            <td width="90%"><a href="index.php?view={$pluginPath}&amp;site={$sitePath}"><strong>{$toolName}</strong></a></td>
          </tr>
          <tr>
            <td>{$toolDescription}</td>
          </tr>
          <!-systemToolsData>
          <!+systemToolsFoot>
				</table>
			</td>
		  </tr>
		</table>
	</div>
<!-systemToolsFoot>
<!+versionCheck>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<table>
        <tr>
          <td width="50%"><strong>{?installedVersion}</strong></td>
          <td width="25%">{$installedVersion}</td>
          <td width="25%" rowspan="3"><div align="right"><img src="{icon:48:{$versionSymbol}}" alt="{$versionSymbol}" width="48" height="48" /></div></td>
        </tr>
        <tr>
          <td><strong>{?serverVersion}</strong></td>
          <td>{$serverVersion} </td>
        </tr>
        <tr>
          <td colspan="2">{$message}</td>
        </tr>
				</table>
			</td>
		  </tr>
		</table>
	</div>
	</div>
<!-versionCheck>