<!+siteHead>
<div class="head">
	<img src="{icon:32:packages}" alt="title" width="32" height="32" /> {?siteTitle}
</div>
<div class="clickTabBox">
	<ul>
		<li><a>{?plugins}</a></li>
		<li><a>{?themes}</a></li>
		<li><a>{?languages}</a></li>
		<li><a>{?templates}</a></li>
		<li><a>{?icons}</a></li>
		<li><a>{?newTitle}</a></li>
	</ul>
	<!-siteHead>
	<!+listHead>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<table>
				  <tr>
					<td><strong>{?listTyp}</strong></td>
					<td width="80%"><strong>{?listName}</strong></td>
					<td width="5%"><img src="{icon:16:delete}" alt="{?uninstall}" width="16" height="16" border="0" class="Stil1" /></td>
					<td width="5%"><img src="{icon:16:info}" alt="{?info}" width="16" height="16" border="0" /></td>
				  </tr>
				  <!-listHead>
				  <!+listData>
				  <tr>
					<td width="10%"><img src="{icon:16:{$listTyp}}" alt="{$listTyp}" width="16" height="16" /></td>
					<td width="80%">{$listName}</td>
					<td width="5%"><a href="index.php?view=system&amp;site=packageuninstall&amp;id={$listId}&amp;typ={$listTyp}"><img src="{icon:16:delete}" alt="{?uninstall}" width="16" height="16" border="0" /></a></td>
					<td width="5%"><a onclick="ecOpenPopup('{$listName}','{$popup}','{?close}')" href="javascript:void(0)"><img src="{icon:16:info}" alt="{?info}" width="16" height="16" border="0" /></a></td>
				  </tr>
				  <!-listData>
				  <!+listFoot>
				</table>
			</td>
		  </tr>
		</table>
	</div>
	<!-listFoot>
	<!+newPackage>
	<div class="clickTab">
		<table class="table">
		  <tr>
			<td>
				<img src="{icon:16:new}" width="16" height="16" /> <a href="index.php?view=system&amp;site=packageinstall">{?newPackage}</a>
			</td>
		  </tr>
		</table>
	</div>
	<!-newPackage>
	<!+siteFoot>
</div>
<!-siteFoot>

<!-- Achtung! Javascript - Keine Absaetze!-->
<!+moreInfo>{$listInfo}<br /><br /><strong>{?listId}:</strong> {$listId}<br /><strong>{?listPath}:</strong> {$listFolder}<br /><strong>{?listAutor}:</strong> {$listAutor}<br /><strong>{?listWWW}:</strong> {$listWWW}<br /><strong>{?listReqPlugins}:</strong> {$listReqPlugins}<br /><strong>{?listReqTables}:</strong> {$listReqTables}<br /><strong>{?listInstall}:</strong> {$listInstall}<!-moreInfo>
